<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      @font-face {
        font-family: "joystix";
        src: url("/static/joystix.ttf");
      }
      
      #text{
        background-color: #09153d;
        font-family: "joystix";
        height:75px;
        text-align: center;
      }
      
      footer{
        background-color: #09153d;
        font-family: "joystix";
        height:75px;
        text-align: center;
        margin-top: 150px;
      }
      
      #game_window{
        margin-top:-20px;
      }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <title>Space Inversion!</title>
  </head>
  <body background="/static/background.jpg" style="text-align: center">
    <div id="text"><h1> <font color='white'>Space Inversion!</font></h1></div>
    <div style="display: inline-block" id='game_window'>
      <p id='loading'><font color='white'>Loading...</font></p>
      <canvas id= "canvas" style='border:1px solid; background-color:black' width="800" height="448"></canvas>
      <script type="application/javascript" src="/static/SpaceInversion.js"></script>
      <script type="application/javascript">

        var M = Module({
            canvas: (() => document.getElementById('canvas'))(),
        });
        
        M.setStatus = (text) => {
          if (!M.setStatus.last) M.setStatus.last = { time: Date.now(), text: '' };
          if (text === M.setStatus.last.text) return;
          var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
          if (m){
            var percentage = parseInt((parseInt(m[2]) / parseInt(m[4])) * 100);
            document.getElementById('loading').style = 'color: white'
            document.getElementById('loading').innerHTML = 'Loading: ' + percentage + '%'; 
          }
        };

        M.setStatus('Downloading...');

        M.then(() => {
            document.getElementById('loading').innerHTML = '';
            console.log('Loaded!');
        }); 

      </script>
      <script type='text/javascript'>
        // An array of all contexts to resume on the page
        const audioContexList = [];
        (function() {
            // A proxy object to intercept AudioContexts and 
            // add them to the array for tracking and resuming later
            self.AudioContext = new Proxy(self.AudioContext, {
                construct(target, args) {
                    const result = new target(...args);
                    audioContexList.push(result);
                    return result;
                }
            });
        })();
        
        function SoundManager(){
          // for every audio context, resume if it was suspended.
          audioContexList.forEach(ctx => {
              if (ctx.state == "suspended") { 
                ctx.resume();
                window.removeEventListener("click", SoundManager);
              }
          });
        }

        // Resume the audio context when the user clicks the page. 
        // This is done to deal with Chrome's...idiosyncracies (stupidity)
        window.addEventListener("click", SoundManager);
      </script>
    </div>
  </body>
  
  <footer>
    <p style="margin-bottom:20px"><font color='white'>Press "A" and "D" to move left and right. <br/> Press Spacebar to shoot</font></p>
  </footer>
</html>
